# Ignore docker database volume
db-data/

# Ignore binary file
safeu-backend

# Ignore config file
conf/db.json
conf/cloud.yml

# Ignore GoLand config files
.idea/

# Ignore VS Code config files
.vscode/

# Ignore fresh tmp files
tmp/

# Ignore vendor package files

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

safeu-backend\.iml
