# Ignore binary file
safeu-backend

# Ignore database config file
conf/db.json

# Ignore GoLand config files
.idea/

# Ignore fresh tmp files
tmp/

# Ignore vendor package files

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

safeu-backend\.iml
